[Unit]
Description=Mission-Chief.Bot - Service

[Service]
WorkingDirectory=/root/MSC-Bot
Type=forking
ExecStart=/bin/bash 'Mission-Chief.Bot-tmux.sh' start
KillMode=process

[Install]
WantedBy=multi-user.target